.form {
  background-color: #fff;
  display: block;
  padding:20px;
  max-width: 700px;
  border-radius: 0.5rem;
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-left: 500px;
}

.form-title {
  font-size:25px;
  line-height:20px;
  font-weight: 600;
  color: #000;
  text-align: center;
  padding-left: 10%;
}

.input-container {
  position: relative;
}

.input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #da751c;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
  
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}

.flex-container {
  display: flex;
  margin-left: auto;
  text-align:start;
  
  
}
.input-container1{
  position: relative;
  margin-left: 60px;

}

.submitbutton{
  width: 100px;
  margin:auto;
}

.select-container {
  display: flex; 
  position: relative;
  padding: 10px;
  width: 300px;
  margin-left: -60px;
  margin-top: 30px;
  justify-content: space-between; 
}
.languagetype{
  background-color: white;
    border: 1px solid rgb(206, 206, 206);
    height: 45px;
    padding-left: 10px;
    border-radius: 10px;
    width: 300px;
    margin-left: -75px;
    
    
  
}

.Doctertype{
  background-color: white;
    border: 1px solid rgb(206, 206, 206);
    height: 45px;
    padding-left: 10px;
    border-radius: 10px;
    width: 300px;
    margin-left: -25px;
    margin-top: 39px;
  
}
