.snchadddocform111 {
  background-color: #fff;
  padding: 20px;
  width: 700px;
  border-radius:20px;
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-left: 320px;
  border:10px;
  margin-top:0px;
}


.form-title {
  font-size:25px;
  line-height:20px;
  font-weight: 600;
  color: #000;
  text-align: center;
  padding-left: 100%;
}

.input-container {
  position: relative;
  
}

.input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit111 {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #da751c;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 15px;
  text-transform: uppercase;
  
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}

.input-container1{
  position: relative;
  margin-left: 60px;

}

.submitbutton{
  width: 100px;
  margin:auto;
  border: none;
}

.select-container {
  display: flex; 
  position: relative;
  padding: 10px;
  width: 300px;
  margin-left: -60px;
  margin-top: 30px;
  justify-content: space-between; 
}


.languagetype{
  background-color: white;
    border: 1px solid rgb(206, 206, 206);
    height: 45px;
    border-radius: 10px;
    width: 300px;
    margin-top: 10px;
    
    
  
}

.Doctertype{
  background-color: white;
    border: 1px solid rgb(206, 206, 206);
    height: 45px;
    padding-left: 10px;
    border-radius: 10px;
    width: 300px;
    margin-top: 10px;   
  
}
.displaytp{
  display: flex;
  margin-left: 5px;
  padding: 10px;
}

.space-between{
  margin-left: 40px;
}

.sanchviewdocbtn {
  display: block;
  background-color: #E84E2D;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 15px;
  text-transform: uppercase;
  width: 180px;
  height: 50px;
  border: none;
  margin-left:1200px;
  margin-top:70px;
  
}

.Updateformbtn{
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #da751c;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width:200px;
  border-radius: 15px;
  text-transform: uppercase;
  position: relative;
  left:400px;
  top: -30px;


}

.updateformdeltbtn{
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #da751c;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width:200px;
  border-radius: 15px;
  text-transform: uppercase;
  position: relative;
  left:60px;
  top: 20px;

}



