.table6171{
    width:150px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}

.table6172{
    width:150px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}
.table6173{
    width:150px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}
.table6174{
    width:200px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}
.table6175{
    width:200px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}
.table6176{
    width:200px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}
.table6177{
    width:200px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}
.table6171a{
    width:150px;
    height:50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.table6172a{
    width:150px;
    height:50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.table6173a{
    width:150px;
    height:50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.table6174a{
    width:200px;
    height:50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.table6175a{
    width:200px;
    height:50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.table6176a{
    width:200px;
    height:50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.table6177a{
    width:200px;
    height:50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



.table6177a button {
    margin-left: 30px;
    border-radius: 5px;
    border: none;
    width:100px;
    height: 40px;
    background-color: rgb(181, 38, 38);
  }
  .form617{
    margin-left: 150px;
    margin-top: 150px;
    position: 300px;
    
   
  }





