.fuldetail{
    position: relative!important;
    margin-left: 800px!important;
    bottom: 500px!important;
}
.docimage{
    position: relative!important;
    margin-left: 200px!important;
   
}
.hr1{
    background-color: black;
    width: 500px !important;

}
.row1{
    position: relative!important;
    margin-left:133px ;
    margin-right: 133px;
   

}
.prdetails{
    font-size: 20px;
}
.docdiscription{
    font-size: 13px !important;
    margin-top: 15px !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
    text-align: center !important;;
}
.fuldis{
    position: relative!important;
    margin-left: 800px!important;
    bottom: 500px!important;
    font-size: 30px !   important;
}