.earsmall{
    position: relative;
    bottom: 380px !important;
    font-size: 30px !important;
    margin-left: 250px !important;
    color: rgb(8, 8, 8) !important;
    font-weight: bold !important;
}
.mainsmall{
    position: relative;
    bottom: 450px!important;
    font-size: 70px!important;
    margin-left: 200px!important;
    color: rgb(237, 233, 233)!important;
    font-weight: bold!important;
}
.era{
    position: relative;
    width: 1000px !important;
    height: 1000px !important;
}
.EarSptable_1col_1{
    background-color: #f4d34e;
    margin-right: -50px;
}
.earspacial{
    position: relative!important;
    bottom: -250px;
}
.eartable_3{
    position: relative!important;
    bottom: -10px!important;
}
.eartable_3{
    background-color: #fcfcfc!important;
    height: 150px !important;
    width: 1040px !important;
    margin-left: 200px !important;
    padding-left: 50px !important;
    padding-top: 30px !important;
    border: 1px solid rgb(206, 206, 206) !important;

    position: relative!important;
    bottom: 0px!important;
   
}
.background{
    background-color:white !important;
}

.mainfonttext{
   margin-left: 150px !important;
   margin-top: 50px !important;
   font-weight: bold;
   color: white;
   font-size: 60px !important;
}
.eyefonttext{
    margin-left: 150px !important;
    font-size: 30px !important;
    color: rgb(8, 4, 4);
    font-weight: bold !important;
    margin-top: 20px !important;
 }

    