.updatediscriptioncrd{

    background-color:  #ffd146;
    width: 500px;
    padding-top:10px;
    padding-bottom:2px;
    padding-left:15px;
    padding-right:15px;
    margin-bottom: 20px;
    color: white;
    border-radius: 8px;
    border: 1px solid #ffc62a;

}
.updatediscription{
    font-size: 14px;
}
.reservationcancelbtn{
    background-color: white;
    color: #ff4500;
    border: 1px solid #ff4500;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}
.reservationcancelbtn:hover{
    color: #902600;
    border: 1px solid #902600;
}
.reservationupdatebtn{
    background-color: #ff4500 !important;
    width: 300px !important;
    margin-left: 100px !important;
}