.editUserbtn1{
    background-color: white !important;
    border: 1px solid #ff4500 !important;
    color: #ff4500 !important;
    border-radius: 5px !important;
    width: 150px !important;
    height: 40px !important;
}
.editUserbtn1:hover{
    border: 1px solid #8b2703 !important;
    color: #8b2703 !important;
    transition:.5s !important;
}
.editUserbtn2{
    background-color: #ff4500 !important;
    border: none !important;
    border-radius: 5px !important;
    color: white !important;
    width: 150px !important;
    height: 40px !important;

}
.editUserbtn2:hover{
    background-color: #8b2703 !important;
    transition:.5s !important;
}
.edituserinput{
    background-color: white !important;
    color: black !important;
    width: 500px !important;
}
