.fullform{
    position: relative;
    margin-left: 600px !important;
}
.form-control{
    width: 300px !important;
}
.form-title{
    margin-left: -700px !important;
}
.Additional{
    position: relative;
    margin-left: -100px !important;
    bottom: 100px !important;
    margin-bottom: -90px !important;
}