.feedback_right {
    display: flex !important;
    align-items: center !important;
    margin-top: 250px;
    margin-right: 250px !important;
    margin-bottom: 350px;
    flex-direction: column;
}

.feed_background {
    padding-top: 50px;
    display: flex !important;
    align-items: center !important;
    
}
.btn-1{
    color: black;
    margin-top: 150px;
    position: relative!important; 
    margin-left: -100px !important;
   


}

.btn-1 button{ 
    color: rgb(242, 233, 233);
    margin: -50px;
    background-color: rgb(248, 32, 32);
    border: none;
    border-radius: 20PX;
}
.backbutton{
    width: 100px!important;
    margin-left: 100px!important;
    height: 50px!important;
}
.addfeedbutton{
    width: 120px!important;
    margin-left: 100px!important;
    height: 50px!important;
    text-align: center!important;
}