.homepic{
    width: 1550px !important;
}
.welcome{
    position: relative !important;
    bottom: 530px !important;
    font-size: 70px !important;
    margin-left: 200px !important;
    color: black !important;
}
.welcome_2{
    position: relative !important;
    bottom: 530px !important;
    margin-left: 200px!important;
    color: black !important;
}
.btn1{
    background-color: #ff4500 !important;
    border: none !important;
    color: white !important;
    width: 150px !important;
    height: 40px !important;
}
.btn1:hover{
    background-color: #8b2703 !important;
    transition:.5s !important;
}
.btn2{
    background-color: white !important;
    border: none !important;
    color: black !important;
    width: 200px !important;
    height: 40px !important;
}
.btn2:hover{
    background-color: #c7a683 !important;
    transition:.5s !important;
}
.hQ1_1{
    font-size: 26px !important;
}
.icon_1{
    font-size: 25px;
    color: #ff4500;
}
.table_1{
    background-color: rgb(252, 245, 236);
    position: relative !important;
    bottom: 440px !important;
    height: 200px !important;    
}
.aboutusImg{
    height: 400px !important;
    width: 600px !important;  
}
.table_2{
    position: relative !important;
    bottom: 380px !important;
    margin-left: 200px !important;
}
.btn3{
    background-color: #f2e1cf !important;
    border: none !important;
    color: black !important;
    width: 200px !important;
    height: 40px !important;
}
.btn3:hover{
    background-color: #c7a683 !important;
    transition:.5s !important;
}
.table_3{
    position: relative !important;
    bottom: 370px !important;
    background-color: #efefef !important;
}
.t4img{
    height: 230px !important;
    width: 100% !important;
    border: 5px solid white !important;
}
.table_4{
    position: relative !important;
    bottom: 370px !important;
    background-color: #efefef !important;
    height: 500px;
}
.progress{
    width: 30% !important;
    position: relative !important;
    bottom: 500px !important;
    margin-left: 900px !important;
    background-color: white !important;
}
.pbar{
    background-color: #ff4500 !important;
    position: relative !important;
}
.ourvalue{
    position: relative !important;
    bottom: 500px !important;
    margin-left: 900px !important;
}
.table_5{
    position: relative !important;
    bottom: 370px !important;
}
.table_6col_1{
    background-image: url("https://img.freepik.com/free-photo/portrait-handsome-young-smiling-afro-man-wearing-glasses-smiling-standing-with-open-hand-gesture-isolated-beige-wall_158595-7632.jpg?w=996&t=st=1705671684~exp=1705672284~hmac=56d7620ed12c4b9b193f54c63dc01780017917121f2a400040b76a7c649208a6") !important;
    background-size: cover!important;
    height: 300px !important;
    margin-right: 20px !important;
    padding-left: 50px !important;
    padding-top: 50px !important;
}
.table_6col_2{
    background-image: url("https://img.freepik.com/free-photo/shocked-young-brunette-caucasian-girl-holds-hand-close-ear-isolated-purple-wall_141793-70399.jpg?w=900&t=st=1705672107~exp=1705672707~hmac=13d01b3f9f1e1b2f0ebe8a62192d374d50764192b85c59450bcc5af2fe406759") !important;
    background-size: cover!important;
    height: 300px !important;
    padding-left: 50px !important;
    padding-top: 50px !important;
}
.table_6{
    position: relative !important;
    bottom: 780px !important;
}