.card2abhi{
    background-color: white !important;
    color: black !important;
    position:  relative !important;
    bottom: 500px !important;
    left: 200px !important;
    width: 480px !important;
    
}
.form-label{
   margin-right: 450px !important;
}
.logpic{
    width: 50% !important;
}
.Ltable_1{
    margin-top: -450px !important;
}
.Showpassword{
    position: relative !important;
    bottom: 40px !important;
    left: 150px !important;
    cursor: pointer !important;
}
.inputlogin{
    background-color: white !important;
    color: black !important;;
    width: 380px !important;
}