.navbar{
    height: 70px !important;
    background-color: white !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.nav-link{
    color: black !important;
}
.nav-link:hover{
    color: #ff4500 !important;
    transition:.5s !important;
}
.dropdown-menu{
    background-color: white !important;
    border: none !important;
    width: 120%;
}
.dropdownIcon{
    color: #ff4500 !important;
    margin-left: 10px !important;
    position: relative !important;
    top: 20px !important;
    z-index: 1;
}
.dropdown-item{
    margin-left: 15px !important;
    position: relative !important;
    bottom: 10px !important;
}
.dropdown-menu{
    width: 100% !important;
}
.dropdown-item:hover{
    background-color: rgb(252, 245, 236) !important;
    width: 0px !important;
    transition:.5s !important;
}
.ddline:hover{
    background-color: rgb(252, 245, 236) !important;
    transition:.5s !important;
}
.cartitemcount{
    background-color: #ff4500 !important;
    color: white !important;
    border-radius: 50px !important;
    width: 15px !important;
    height: 15px !important;
    text-align: center !important;
    padding-bottom: 12px !important;
    font-size: 11px !important;
    position: relative;
    left: 20px !important;
    bottom: 30px !important;
    
}
.dropdownIconcart{
    margin-top: 13px !important;
    margin-left: 10px !important;
}
.dropdownIconcart:hover{
    color: black !important;
}

