.navbar{
    height: 70px !important;
    background-color: white !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.nav-link{
    color: black !important;
}
.nav-link:hover{
    color: #ff4500 !important;
    transition:.5s !important;
}
.dropdown-menu{
    background-color: white !important;;
}
.dropdown-item:hover{
    background-color: rgb(252, 245, 236) !important;
    transition:.5s !important;
}

