.addsec {
    margin-left: 100px;
    border: 10px solid black;
    padding: 20px;
  }
  
  .form {
    margin-bottom: 5px;
    border: 1px solid;
    padding: 10px;
    background-color: goldenrod;
  }
  
  .form h4 {
    text-align: center;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-container input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }