.eyefont{
    position: relative;
    bottom: 400px !important;
    font-size: 30px !important;
    margin-left: 120px !important;
    color: rgb(8, 8, 8) !important;
    font-weight: bold !important;
}
.mainfont{
    position: relative;
    bottom: 420px!important;
    font-size: 60px!important;
    margin-left: 110px!important;
    color: rgba(255, 255, 255, 0.919)!important;
    font-weight: bold!important;
}
.eye1{
    position: relative;
    bottom: 80px !important;
    margin-left:350px !important;
    width: 700px !important;

}
.background{
    background-color:white !important;
}
.OpthTable_1{
    position: relative;
    bottom: 200px;
}
.Opthtable_3{
    background-color: #fcfcfc!important;
    height: 150px !important;
    width: 1040px !important;
    margin-left: 7px !important;
    padding-left: 50px !important;
    padding-top: 30px !important;
    border: 1px solid rgb(206, 206, 206) !important;
    position: relative!important;
    margin-top: -270px !important;
}
.doctsearch{
    position: relative;
    margin-left: 100px !important;
}
.rating{
    position: relative !important;
    margin-right: 100px !important;
    bottom: -25px !important;
}
.type{
    position: relative !important;
    bottom: 33px !important;
    margin-left: 10px !important;
    color: #ff4500!important;
}
.TypeSelect{
    background-color: white !important;
    border: 1px solid rgb(206, 206, 206) !important;
    height: 39px !important;
    padding-left: 10px !important;
    border-radius: 5px !important;
    width: 200px !important;
    margin-left: -45px !important;
}
.doctorSearch{
    background-color: white !important;
    border: 1px solid rgb(206, 206, 206) !important;
    height: 39px !important;
    padding-left: 10px !important;
    border-radius: 5px !important;
    width: 200px !important;
    margin-left: -5px !important;

}
.lap_1{
    position: relative!important;
    bottom: 90px!important;
    margin-left: 10px!important;
    
}
.docappoibtn{
    background-color: #ff4500 !important;
    border-radius: 5px !important;
    border: none !important;
    color: white !important;
    height: 40px !important;
    width: 300px !important;
    margin-left: 20px !important;
    font-size: 18px !important;
}

.docappoibtn:hover{
    background-color: #8b2703 !important;
    transition:.5s !important;
}
.table_71{
    background-color: #ff4500 !important;
    height: 140px !important;
    position: relative!important;
    margin-bottom: -300px !important;
   
    
}
.doctable_2{
    margin-left: 110px !important;
}








