.full {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.fullform {
    max-width: 600px;
    margin: 20px auto;
   margin-left: 450px!important;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.lb {
    font-weight: bold;
}
.text1 {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.appointmentbtn {
    background-color:#ff4500;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    margin-left: 190px;
    cursor: pointer;
}
.appointmentbtn:hover {
    background-color:rgb(183, 38, 38);
}
.heder{

    margin-left: 100px;
    font-weight: bold;
}
