.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #ff4500;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ff4500;
    transition:.5s !important;
}
.Peditbtn{
    position: relative !important;
    left: 140px !important;
}
.Pdeletebtn{
    background-color: white !important;
    border: none !important;
}
.Pdeletebtn:hover{
    color: red !important;
}

