.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #ff4500;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ff4500;
    transition:.5s !important;
}
.Peditbtn{
    position: relative !important;
    left: 180px !important;
}
.Pdeletebtn{
    background-color: white !important;
    border: none !important;
}
.Pdeletebtn:hover{
    color: red !important;
}


.feedbacktagDD{
    font-size: 11px !important;
}
.feedbacktagDDbackgroynd{
    background-color: rgb(241, 241, 241) !important;
    border-radius: 15px !important;
    padding: 20px !important;

}
.feedbacktagDDbackgroyndupdatebtn{
    font-size: 11px !important;
    margin-right: 10px !important;
    background-color: green !important;

}
.feedbacktagDDbackgroynddeletebtn{
    font-size: 11px !important;
    background-color: red !important;
}
.profileinput{
    background-color: white !important;
    color: black !important;
}
