.thathsarani {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.sidebar {
    width: 350px;
    height: 100vh;
    background-color: #da751c;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    
}


.sidebar button {
    background-color: transparent;
    color: #ad0000;
    border: none;
    outline: none;
}

.link {
    color: #fefefe;
}

.sidebar ul li {
    margin-bottom: 25px;
    list-style-type: none;

}

.sidebar ul li:first-child{
    margin-top: 30px;
}

/* AddRepairmentDetails.css */

.searchbarthathi {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.searchbarthathi input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  flex: 1;
}

.searchbarthathi button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.downloadthathi {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.downloadthathi:hover {
  background-color: #218838;
}

.row {
  display: flex;
}

.border {
  border: 1px solid #dee2e6;
}

.thathtd,
.thathtdd {
  padding: 10px;
  text-align: center;
}

.detatable {
  margin-bottom: 10px;
}

/* .thathiupdatebtnn,
.thathideletebtnn {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.thathiupdatebtnn {
  background-color: green;
  color: white;
}

.thathiupdatebtnn:hover {
  background-color: #e0a800;
}

.thathideletebtnn {
   background-color: red;
  color: white;
}

.thathideletebtnn:hover {
  background-color: #c82333;
} */