#carouselExampleIndicators{
    margin-left: 150px !important;
    width: 700px !important;
}
.carousel-control-prev{
    background-color: #e2e2e2 !important;
}
.carousel-control-next{
    background-color: #e2e2e2  !important;
}
.carousel-item{
    padding: 120px !important;
}
.smalld-block{
    margin-right: 50px !important;
}
.smalld-blockimg{
    width: 50px !important;
}
.eyeglassModelNo{
    margin-left: 150px !important;
    font-size: 20px !important;
    font-weight: bold !important;
    color: #0a5a70 !important;
}
.eyeglassBrandTag{
    background-color: #0a5a70 !important;
    color: white !important;
    height: 30px !important;
    text-align: center !important;
    padding-top: 2px !important;
    border-radius: 5px !important;
}