.RBtable_1col_1{
    background-color: #f6fcfd !important;
    margin-right: -50px;
    padding-top: 80px;
    padding-left: 100px;
}
.RBtable_2col_1{
    border: 1px solid rgb(206, 206, 206) !important;
    margin: 10px !important;
}
.RBtable_2{
    margin-left: 200px !important;
}
.Reyeglassesbtn{
    background-color: #ff4500 !important;
    border: none !important;
    color: white !important;
    width: 90px !important;
    height: 25px !important;
    font-size: 10px !important;
    margin-left: 75px !important;
}
.Reyeglassesbtn:hover{
    background-color: #8b2703 !important;
    transition:.5s !important;
}
.RBtable_3{
    background-color: #fcfcfc!important;
    height: 150px !important;
    width: 1040px !important;
    margin-left: 7px !important;
    padding-left: 50px !important;
    padding-top: 30px !important;
    border: 1px solid rgb(206, 206, 206) !important;
}
.RayBanSearch{
    border: 1px solid rgb(206, 206, 206) !important;
    width: 165px !important;
}
.RayBanTypeSelect{
    background-color: white !important;
    border: 1px solid rgb(206, 206, 206) !important;
    height: 39px !important;
    padding-left: 10px !important;
    border-radius: 5px !important;
    width: 200px !important;
    margin-left: -20px !important;
}
.barname{
    margin-left: -17px !important;
    color: #ff4500!important;
}
.barname2{
    margin-left: 2px !important;
    color: #ff4500!important;
}
.RBtable_3col_1{
    margin-right: 30px !important;
}








