.mdlno {
  background-color: #f0f0f0; /* Background color */
  color: #333; /* Text color */
  font-weight: bold; /* Bold text */
  padding: 5px; /* Padding */
  text-align: center; /* Center align text */
}
