.vddtable1{
    width:150px;
    height:40px;
}

.vddtable2{
    width:150px;
    height:40px;
}
.vddtable3{
    width:150px;
    height:40px;
}
.vddtable4{
    width:150px;
    height:40px;
}
.vddtable5{
    width:150px;
    height:40px;
}
.vddtable6{
    width:150px;
    height:40px;
}
.vddtable7{
    width:150px;
    height:40px;
}
.vddtable8{
    width:150px;
    height:40px;
}
.vddtable9{
    width:150px;
    height:40px;
}
.vddtable10{
    width:150px;
    height:40px;
}
.vddtable11{
    width:300px;
    height:40px;
}
.vddtable12{
    width:150px;
    height:40px;
}

.vddtable13{
    width:150px;
    height:40px;
}

.vddtable14{
    width:150px;
    height:40px;
}

.vddtable15{
    width:150px;
    height:40px;
}



