.vddtable1{
    width:150px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}

.vddtable2{
    width:150px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}
.vddtable3{
    width:150px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}
.vddtable4{
    width:200px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}
.vddtable5{
    width:200px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}

.vddtable1d{
    width:150px;
    height:40px;
    text-align: center;
    
}

.vddtable2d{
    width:150px;
    height:40px;
    text-align: center;
}
.vddtable3d{
    width:150px;
    height:40px;
    text-align: center;
}
.vddtable4d{
    width:200px;
    height:40px;
    text-align: center;
}
.vddtable5d{
    width:200px;
    height:40px;
    text-align: center;
}



.vddtable6{
    width:150px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}
.vddtable7{
    width:150px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}
.vddtable8{
    width:200px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}
.vddtable9{
    width:150px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}
.vddtable10{
    width:150px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}
.vddtable11{
    width:450px;
    height:100px;
    font-size: 10px;
    text-align: center;
}
.vddtable12{
    width:150px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}

.vddtable13{
    width:200px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}


.vddtable6d{
    width:150px;
    height:40px;
    text-align: center;
}
.vddtable7d{
    width:150px;
    height:40px;
    text-align: center;
}
.vddtable8d{
    width:200px;
    height:40px;
    text-align: center;
}
.vddtable9d{
    width:150px;
    height:40px;
    text-align: center;
}
.vddtable10d{
    width:150px;
    height:40px;
    text-align: center;
}
.vddtable12d{
    width:150px;
    height:40px;
    text-align: center;
}

.vddtable13d{
    width:200px;
    height:40px;
    text-align: center;
}




.vddtable14{
    width:100px;
    height:100px;
    text-align: center;
}

.vddtable15{
    width:150px;
    height:40px;
    text-align: center;
}

.vddtable16{
    width:450px;
    height:40px;
    text-align: center;
    background-color: moccasin;
}

.vddtable17{
    width:100px;
    height:40px;
    background-color: moccasin;
    text-align: center;
}

.vddtable1dfn{
    width:150px;
    height:100px;
    text-align: center;
    
}


.ttp{
    margin-left: 50px;
    font-size: 20px;
}


